<%- include('../includes/head.ejs') %>
<div class="jumbotron text-center">
    <h1 class="display-3"><%= viewTitle%></h1>
    <p class="lead">your transaction is been <strong>Completed</strong></p>
    <hr>
    <p>
        Your transaction amount :  <strong><%= drawamount %></strong>
        Your Available Balance :  <strong><%= amountleft  %></strong>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
</div>
<%- include('../includes/head.ejs') %>
