<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <script type="text/javascript">
        window.history.forward();
        function noBack()
        {
            window.history.forward();
        }

    </script>
</head>
<body style="background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);width: 100vw; height: 100vh" onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="" onkeydown="return (event.keyCode != 116)">

<div class="jumbotron text-center">
    <h1 class="display-3"><%= viewTitle%></h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Notes</th>
        </tr>
        </thead>
        <% if (active.length > 0){%>
            <%  for (let actives of active){ %>
                <tbody>

                <tr>
                    <th scope="col"><%= actives[0] %></th>
                    <th scope="row"><%= actives[1] %></th>
                </tr>
                </tbody>
                <% } %>
        <% } %>
        <tbody>
        <tr>
            <th scope="row">Balance</th>
            <th scope="col"><%= drawamount %></th>
        </tr>
        <tr>
            <th scope="col">Withdraw Amount</th>
            <th scope="row"><%= amountleft %></th>
        </tr>
        </tbody>
    </table>
    <div class="col">
        <form method="post">
            <input type="hidden" name="username" value="<%= username %>">
            <input type="hidden" name="drawamount" value="<%= drawamount %>">
            <input type="hidden" name="amountleft" value="<%= amountleft %>">
            <button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" formaction="/finish">finish</button>
        </form>
        <a href="/">Decline</a>
    </div>

</div>
<%- include('../includes/end.ejs') %>

